button {
  border: 1px solid #000;
  background-color: #fff;
}

button:focus,
select:focus {
  outline:0;
}

.container-AddToCart {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: 2px 50px 50px;
  grid-gap: 15px;

  select {
    text-indent: 10px;
    appearance: none;
    -webkit-appearance: none;
    background-image: url('/assets/arrow-down-icon.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    cursor: pointer;
  }

  select:first-of-type {
    grid-column: 1 / span 3;
    grid-row: 2;
  }

  select:nth-of-type(2) {
    grid-column: 4 / span 2;
    grid-row: 2;
  }

  button {
    grid-column: 1 / span 4;
    grid-row: 3;
    background-image: url('/assets/add-icon.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    text-align: left;
    text-indent: 10px;
    cursor: pointer;
  }

  .container-favorite {
    grid-row: 3;
    border: 1px solid #000;
    cursor: pointer;

    img {
      padding: 25%;
    }
  }

  .warning {
    grid-column: 1 / span 3;
    margin: 0;
    height: 10px;
    color: rgb(255, 0, 0);
    font-size: 14px;

  }

}