.productCard {
    display: grid;
    grid-template-columns: 25vh;
    grid-template-rows: 195px 60px 25px;
  
    padding-right: 1.5vh;
    
  
    .imageDisplay {
      background-image: url("https://images.unsplash.com/photo-1542280756-74b2f55e73ab?ixlib=rb-1.2.1&auto=format&fit=crop&w=300&q=80");
  
      background-position: center;
      margin-left:1.5vh;
      .starButton {
        float: right;
        color: white;
        margin-right: 2%;
        color: yellow;
      }
      .starButton:hover {
        cursor: pointer;
      }
    }
    .productInfo {
      background-color: rgb(240, 240, 240);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: #484848;
      margin-left:1.5vh;
  
      .category {
        font-weight: 300;
        font-size: 14px;
      }
      .productName {
        font-size: 16px;
        font-weight: bold;
      }
      .price {
        font-size: 12px;
      }
    }
    .stars {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: yellow;
      font-size: 14px;
      margin-left:1.5vh;
    }
  }
  
  .pButton {
    position: absolute;
    z-index: 1;
    visibility: hidden;
  
    height: 20px;
    margin-top: 7%;
  }
  .nButton {
    position: absolute;
  
    margin-top: 7%;
    z-index: 1;
    margin-left: 87%;
  
    align-self: flex-end;
  
    z-index: 10;
  }
  
  .viewer {
    width: 90%;
    overflow: hidden;
  
    padding-bottom: 5%;
  
    .cardContainer {
      display: flex;
      
     
    }
  }
  
  .modalWindowContainer {
    display: block;
  }
  .comparisonModalWindow {
    position: absolute;
    display: block;
    margin-left: 35%;
    z-index: 1;
    width: 47vh;
    height: 37vh;
    background-color: red;
  }
  