.productCardPadder {
  padding-right: 1.5vh;
}
.productCard {
  display: grid;
  grid-template-columns: 25vh;
  grid-template-rows: 230px 70px 30px;
  border: 1px solid $color-lightblack;

  .productCardImg:hover{
    cursor:pointer;
    filter: grayscale(70%);
  }

  .starButton {
    float: right;
    color: white;
    font-size: 28px;
    margin: 0 16px;
    text-shadow: 0px 0px 2px #000;
    width: 10px;
    z-index: 10;
  }
  .starButton:hover {
    cursor: pointer;
    color: rgb(255, 230, 0)
  }

  .product-card-x-button {
    opacity: .7;
    padding: 5px;
    margin: 5px -5px;
  }

    .product-card-x-button:hover {
    opacity: 1;
    background-color: rgba(0,0,0,.6);
    padding: 5px;
    margin: 5px -5px;
    border-radius: 5px;
  }

  .productInfo {
    padding: 5px;
    color: #484848;

    .category {
      font-weight: 300;
      font-size: 12px;
      padding-bottom: 4px;
    }
    .productName {
      font-size: 16px;
      font-weight: bold;
    }
    .productSlogan {
      font-weight: 300;
      font-size: 14px;
      padding-bottom: 4px;
    }
    .price {
      font-size: 12px;
    }
  }
  .stars {
    margin: 5px 0 0 2px;
  }
}

.productCard:hover {
  cursor: pointer;
}

.pButton {
  position: absolute;
  z-index: 1;
  visibility: hidden;

  margin: 150px 7px;
  background-color: black;
  opacity: 0.5;
  border-radius: 5px;
}
.pButton:hover {
  cursor: pointer;
  opacity: 0.8;
}
.nButton {
  position: absolute;
  margin: 150px -5px;
  z-index: 1;

  align-self: flex-end;
  background-color: black;
  opacity: 0.5;
  border-radius: 5px;
}
.nButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

.viewer {
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
  padding-bottom: 40px;

  .cardContainer {
    display: flex;
  }
}

.modalWindowContainer {

  height: 230px;
  width: 420px;
  z-index: 1;
  position: absolute;

  margin-left:260px;
  margin-top:10px;
}
.modalWindowContainer:hover{
  cursor:pointer;
}
.comparisonModalWindow {
  display: grid;
  grid-template-columns: 10px 100px 100px 100px 100px 10px;
  grid-template-rows: 20px 30px 30px 30px 30px 30px 30px 30px ;
  border:2px solid grey;
  background-color: white;


  .relatedProductName {

    grid-row: 2/3;
    grid-column: 2/4;
    display: flex;
    justify-content: flex-start;
    text-decoration: underline;
    font-weight:bold;
    font-size:15px;
  }
  .overViewProductName {
    grid-row: 2;
    grid-column: 4/6;
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
    font-weight:bold;
    font-size:15px;
  }
  .feature0 {
    grid-row: 3;
    grid-column: 3/5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .relatedProductCheck0 {
    grid-row: 3;
    grid-column: 5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .overViewProductCheck0 {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    justify-content: center;

  }
  .feature1 {
    grid-row: 4;
    grid-column: 3/5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .relatedProductCheck1 {
    grid-row: 4;
    grid-column: 5;
    display: flex;
    justify-content: center;
  }
  .overViewProductCheck1 {
    grid-row: 4;
    grid-column: 2;
    display: flex;
    justify-content: center;
  }
  .feature2 {
    grid-row: 5;
    grid-column: 3/5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .relatedProductCheck2 {
    grid-row: 5;
    grid-column: 5;
    display: flex;
    justify-content: center;

  }
  .overViewProductCheck2 {
    grid-row: 5;
    grid-column: 2;
    display: flex;
    justify-content: center;
  }
  .feature3 {
    grid-row: 6;
    grid-column: 3/5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .relatedProductCheck3 {
    grid-row: 6;
    grid-column: 5;
    display: flex;
    justify-content: center;
  }
  .overViewProductCheck3 {
    grid-row: 6;
    grid-column: 2;
    display: flex;
    justify-content: center;
  }
  .feature4 {
    grid-row: 7;
    grid-column: 3/5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .relatedProductCheck4 {
    grid-row: 7;
    grid-column: 5;
    display: flex;
    justify-content: center;
  }
  .overViewProductCheck4 {
    grid-row: 7;
    grid-column: 2;
    display: flex;
    justify-content: center;
  }

  .feature5 {
    grid-row: 8;
    grid-column: 3/5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .relatedProductCheck5 {
    grid-row: 8;
    grid-column: 5;
    display: flex;
    justify-content: center;
  }
  .overViewProductCheck5 {
    grid-row: 8;
    grid-column: 2;
    display: flex;
    justify-content: center;
  }

  .feature6 {
    grid-row: 9;
    grid-column: 3/5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .relatedProductCheck6 {
    grid-row: 9;
    grid-column: 5;
    display: flex;
    justify-content: center;
  }
  .overViewProductCheck6 {
    grid-row: 9;
    grid-column: 2;
    display: flex;
    justify-content: center;
  }
}

.relatedItems-grid-master {
  display: grid;
  grid-template-columns: 1fr 950px 1fr;
  grid-template-rows: auto auto;

  .relatedProducts-container {
    grid-column: 1/2;
    grid-column: 2/3;
  }
  .yourOutfit-container {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.addProductCard {
  display: grid;
  grid-template-columns: 25vh;
  grid-template-rows: 80px 200px 50px;
  border: 1px solid $color-lightblack;

  .addProductIcon {
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .addProductCardTitle {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.addProductCard:hover {
  cursor: pointer;
}
