.rating-summary {
  overflow: auto;
}

.rating-average {
  float: left;
  margin-right: 5px;
}

h1 {
  margin-top: 0px;
  font-size: 40px;
  letter-spacing: 1.5px;
}

.rating-average-stars {
  float: left;
}
