h1 {
  font-size: 45px;
}

.ratings-and-reviews-container {
  max-width: 960px;
  margin: auto;
  margin-top: 3%;
}

.ratings-and-reviews-left-container {
  float: left;
  width: 30%;
}

.ratings-and-reviews-right-container {
  float: left;
  width: 65%;
  margin-left: 3%;
}
