h1 {
  margin-top: 0px;
  font-size: 40px;
  letter-spacing: 1.5px;
}

.review-breakdown {
  width: 30%;
}

.rating-summary {
  overflow: auto;
  margin-bottom: -20px;
}

.rating-average {
  float: left;
  margin-right: 5px;
}

.rating-average-stars {
  float: left;
}

.rating-bar-container {
  height: 20px;
  width: 100%;
  background-color: #cecece;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: -1px;
  margin-left: 5px;
  margin-right: 5px;
}

.review-rating-bars-bar {
  display: flex;
}

.rating-bar-filler {
  height: 100%;
  border-radius: inherit;
  text-align: right;
}

.review-rating-bars-bar-label {
  white-space: nowrap;
}

.review-product-bar {
  margin-right: 16px;
}
