.review-tile {
  width: 60%;
}

.review-tile-header {
  display: flex;
  justify-content: space-between;
}

.review-tile-body-summary,
.seller-response-heading {
  font-weight: bold;
}

.review-tile-body-summary-rest {
  font-weight: normal;
}

.review-tile-images {
  display: flex;
  flex-direction: row;
}

.review-tile-image {
  height: 88px;
}

.review-tile-dialog {
  position: static;
  left: 20%;
  top: 10%;
}

.review-tile-image-modal {
  width: 400px;
}

.review-tile-seller-response {
  background: #e4e4e4;
}
